.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
}

.copy_right_footer a{
  color: black;
}

 body b {
   text-align: left;
 }

ol img {
  border-radius: 25px;
  margin-left: 10px;
}